<!-- Snowflake -->
<link rel="stylesheet" href="style/index.css">
<div class="snowflakes" aria-hidden="true">

    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
    <div class="snowflake">⛧</div>
</div>